

<p>Hello Word!</p>

<%= link_to "Sign up", new_user_registration_path, style:"text-overflow: unset; color: rgb(255, 255, 255);", class: "btn rounded-pill px-4 text-decoration-none fs-5 m-2 fw-semibold custom-button"%>


<%= link_to "Log in", new_user_session_path, class: "btn btn-light text-decoration-none fs-5 m-2 fw-semibold rounded-pill px-4"%>

